@charset "UTF-8";

#header{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: pink; 
}
#header-top{
    position: relative;
    height: 5vh;
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-tab{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content{
  
    background-color: pink;
}

a{
    text-decoration: none;
    color: rgb(240, 135, 153);
}

.center{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center img{
    height: 15vh;
}

.footer-center{
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#footer{
    
    height: auto;
    background-color: white;
}

.footer-section{
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-bottom{
    height: 5vh;
    background-color: pink;
    color:white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-fill{
    flex-grow: 1;
    background-color: white;
}

.dropdown-menu {
    display: none;
    opacity: 0;
    transform: translateY(2rem);
    transition: opacity 0.5s ease, transform 0.5s ease;
  
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown .btn {
    background-color: transparent !important; 
    border: none !important;
    color: #000 !important;
    padding: 0.5rem 1rem !important;
    width: 100% !important;
}

.dropdown .btn:focus{
    box-shadow: none !important;
}

.dropdown .btn:hover{
    background-color: transparent !important; 
}

.footer-center .btn, .footer-center .btn:focus{
    background-color: pink;
    border: none;
}

.footer-center .btn:hover{
    background-color: white;
    color: #000;
    border: none;
}

.dropdown .dropdown-menu,
div.dropdown-menu,
ul.dropdown-menu {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1) !important;
}

.nav-item .btn, .btn:hover, .btn:focus{
    background-color: transparent;
    border: none;
}






