@charset "UTF-8";

#header{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
    
}
#header-top{
    position: relative;
    height: 5vh;
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.header-tab{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content{
    min-height: 75vh;
    background-color: aqua;
}

.center{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center img{
    height: 10vh;
}

.footer-center{
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#footer{
    
    height: auto;
    background-color: blue;
   
}

.footer-section{
    background-color: brown;
}

#footer-bottom{
    height: 5vh;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

}

.mid-fill{
    flex-grow: 1;
}


/* For the dropdown animation */
.dropdown-menu {
    display: none;
    opacity: 0;
    transform: translateY(2rem);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}


.header-tab .dropdown .btn {
    background-color: transparent !important; 
    border: none !important;
    color: #000 !important;
     padding: 0.5rem 1rem !important; /* Adjust button size */
    width: 100% !important; /* Makes button fill container */
}


.header-tab .dropdown .btn:focus {
    box-shadow: none !important;
}


.header-tab .dropdown .btn:hover {
    background-color: transparent !important; 
}

.header-tab .dropdown .dropdown-menu {
    background-color: white;
    border-radius: 0;
    border: none;
}





